In [1]:
import pandas as pd

df = pd.read_csv('imdb_top_1000.csv', encoding='ISO-8859-1')
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [2]:
df.isnull().mean() * 100

Poster_Link       0.0
Series_Title      0.0
Released_Year     0.0
Certificate      10.1
Runtime           0.0
Genre             0.0
IMDB_Rating       0.0
Overview          0.0
Meta_score       15.7
Director          0.0
Star1             0.0
Star2             0.0
Star3             0.0
Star4             0.0
No_of_Votes       0.0
Gross            16.9
dtype: float64

In [3]:
df.dtypes

Poster_Link       object
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [4]:
df.columns.to_list()

['Poster_Link',
 'Series_Title',
 'Released_Year',
 'Certificate',
 'Runtime',
 'Genre',
 'IMDB_Rating',
 'Overview',
 'Meta_score',
 'Director',
 'Star1',
 'Star2',
 'Star3',
 'Star4',
 'No_of_Votes',
 'Gross']

In [5]:
original_columns = ['Poster_Link',
 'Series_Title',
 'Released_Year',
 'Certificate',
 'Runtime',
 'Genre',
 'IMDB_Rating',
 'Overview',
 'Meta_score',
 'Director',
 'Star1',
 'Star2',
 'Star3',
 'Star4',
 'No_of_Votes',
 'Gross']

new_columns = [col.lower() for col in original_columns]
df.columns = new_columns

In [6]:
df.columns.to_list()

['poster_link',
 'series_title',
 'released_year',
 'certificate',
 'runtime',
 'genre',
 'imdb_rating',
 'overview',
 'meta_score',
 'director',
 'star1',
 'star2',
 'star3',
 'star4',
 'no_of_votes',
 'gross']

#1

In [7]:
columns_to_drop = ['poster_link']
df.drop(columns=columns_to_drop, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   series_title   1000 non-null   object
 1   released_year  1000 non-null   object
 2   certificate    899 non-null    object
 3   runtime        1000 non-null   object
 4   genre          1000 non-null   object
 5   imdb_rating    1000 non-null   float64
 6   overview       1000 non-null   object
 7   meta_score     843 non-null    float64
 8   director       1000 non-null   object
 9   star1          1000 non-null   object
 10  star2          1000 non-null   object
 11  star3          1000 non-null   object
 12  star4          1000 non-null   object
 13  no_of_votes    1000 non-null   int64
 14  gross          831 non-null    object
dtypes: float64(2), int64(1), object(12)
memory usage: 117.3+ KB

In [9]:
df['released_year'] = df['released_year'].str.extract('(\d+)').astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Sam\AppData\Local\Temp\ipykernel_9020\2216151662.py:1: SyntaxWarning: invalid escape sequence '\d'
  df['released_year'] = df['released_year'].str.extract('(\d+)').astype(float)

In [10]:
df['released_year'] = pd.to_numeric(df['released_year'])

In [11]:
df.dtypes

series_title      object
released_year    float64
certificate       object
runtime           object
genre             object
imdb_rating      float64
overview          object
meta_score       float64
director          object
star1             object
star2             object
star3             object
star4             object
no_of_votes        int64
gross             object
dtype: object

#2 & 3

In [12]:

print('The oldest movie was released in:')
print(df['released_year'].min().astype('int64'))

print('The newest movie was released in:')
print(df['released_year'].max().astype('int64'))

The oldest movie was released in:
1920
The newest movie was released in:
2020

#4

In [13]:
df_sortby_rating = df.sort_values(by='imdb_rating', ascending=False)
df_sortby_rating.head(10)

,series_title,released_year,certificate,runtime,genre,imdb_rating,overview,meta_score,director,star1,star2,star3,star4,no_of_votes,gross
0,The Shawshank Redemption,1994.0,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972.0,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
3,The Godfather: Part II,1974.0,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,12 Angry Men,1957.0,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
2,The Dark Knight,2008.0,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
6,Pulp Fiction,1994.0,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
5,The Lord of the Rings: The Return of the King,2003.0,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
7,Schindler's List,1993.0,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
9,Fight Club,1999.0,A,139 min,Drama,8.8,An insomniac office worker and a devil-may-car...,66.0,David Fincher,Brad Pitt,Edward Norton,Meat Loaf,Zach Grenier,1854740,"37,030,102"
8,Inception,2010.0,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"

#5

In [14]:
df_sortby_genre  = df_sortby_rating.drop_duplicates(subset='genre', keep='first')
df_sortby_genre.head(10)

,series_title,released_year,certificate,runtime,genre,imdb_rating,overview,meta_score,director,star1,star2,star3,star4,no_of_votes,gross
0,The Shawshank Redemption,1994.0,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,The Godfather,1972.0,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,The Dark Knight,2008.0,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
5,The Lord of the Rings: The Return of the King,2003.0,U,201 min,"Action, Adventure, Drama",8.9,Gandalf and Aragorn lead the World of Men agai...,94.0,Peter Jackson,Elijah Wood,Viggo Mortensen,Ian McKellen,Orlando Bloom,1642758,"377,845,905"
7,Schindler's List,1993.0,A,195 min,"Biography, Drama, History",8.9,"In German-occupied Poland during World War II,...",94.0,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall,1213505,"96,898,818"
8,Inception,2010.0,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,"292,576,195"
12,"Il buono, il brutto, il cattivo",1966.0,A,161 min,Western,8.8,A bounty hunting scam joins two men in an unea...,90.0,Sergio Leone,Clint Eastwood,Eli Wallach,Lee Van Cleef,Aldo GiuffrÃ¨,688390,"6,100,000"
11,Forrest Gump,1994.0,UA,142 min,"Drama, Romance",8.8,"The presidencies of Kennedy and Johnson, the e...",82.0,Robert Zemeckis,Tom Hanks,Robin Wright,Gary Sinise,Sally Field,1809221,"330,252,182"
16,Star Wars: Episode V - The Empire Strikes Back,1980.0,UA,124 min,"Action, Adventure, Fantasy",8.7,After the Rebels are brutally overpowered by t...,82.0,Irvin Kershner,Mark Hamill,Harrison Ford,Carrie Fisher,Billy Dee Williams,1159315,"290,475,067"
14,The Matrix,1999.0,A,136 min,"Action, Sci-Fi",8.7,When a beautiful stranger leads computer hacke...,73.0,Lana Wachowski,Lilly Wachowski,Keanu Reeves,Laurence Fishburne,Carrie-Anne Moss,1676426,"171,479,930"

#6

In [15]:
most_movies_made = df['director'].mode()[0]
print('Director who made the most movies: ' + most_movies_made)

Director who made the most movies: Alfred Hitchcock

#7

In [16]:
most_movies_starred = df['star1'].mode()[0]
print('Actor who starred the most movies: ' + most_movies_starred)

Actor who starred the most movies: Tom Hanks

#8

unfortunately still can't get past this syntax error and can't do the rest of the problems

In [17]:
def clean_and_convert(value):
    return value.str.replace(',','').astype(float).astype('int64')

In [18]:
new_value = []
for value in df.select_dtypes(include='object').columns:
    try:
        df[value].str.replace(',','').astype(float)
        new_value.append(value)
    except ValueError:
        pass

for col in new_value:
    df[col] = clean_and_convert(df[col])

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [ ]:
highest_gross = df.groupby('series_title')['gross'].max()
highest_gross

series_title
(500) Days of Summer             32391374.0
12 Angry Men                      4360000.0
12 Years a Slave                 56671993.0
1917                            159227644.0
2001: A Space Odyssey            56954992.0
                                   ...
Zootopia                        341268248.0
Zulu                                    NaN
Zwartboek                         4398392.0
Ã bout de souffle                 336705.0
Ãkami kodomo no Ame to Yuki            NaN
Name: gross, Length: 999, dtype: float64